@import './variables.css';
:root {
  --dynamic-background: #000;
  --combinations-background: #fff;
}

.navItem {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  border-radius: 16px;
  padding: 12px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  transition: background-color 300ms, box-shadow 300ms;
}
.navItem .navIcon {
  width: 32px;
  height: 32px;
  filter: invert(0);
  transition: filter 300ms 0ms;
}
.navItem .navLabel {
  font-size: 24px;
  transition: color 300ms 0ms;
}

.navItem:hover {
  background-color: rgba(0, 0, 0, 0.1450980392);
}

.navItem.router-link-active {
  background-color: var(--dynamic-background);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navItem.router-link-active:hover .navItemContainer {
  background-color: transparent;
}

.combinationsNavItem {
  position: relative;
  z-index: 1;
  background-color: var(--combinations-background);
}
.combinationsNavItem .combinations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.combinationsNavItem .combinations .combinationsLink {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  translate: 0 calc(100% + 16px);
  scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 300ms, background-color 300ms;
  cursor: pointer;
}
.combinationsNavItem .combinations .combinationsLink:hover {
  background-color: rgba(0, 0, 0, 0.1450980392);
}
.combinationsNavItem .combinations .combinationsLink.router-link-active {
  background-color: var(--dynamic-background);
}
.combinationsNavItem .combinations :nth-child(1) {
  transition-delay: 20ms;
}
.combinationsNavItem .combinations :nth-child(2) {
  transition-delay: 40ms;
}
.combinationsNavItem .combinations :nth-child(3) {
  transition-delay: 60ms;
}
.combinationsNavItem .combinations :nth-child(4) {
  transition-delay: 80ms;
}
.combinationsNavItem .combinations :nth-child(5) {
  transition-delay: 100ms;
}
.combinationsNavItem .combinations :nth-child(6) {
  transition-delay: 120ms;
}

.showCombinations .combinations {
  pointer-events: all;
}
.showCombinations .combinations .combinationsLink {
  scale: 1;
}

.showCombinations:hover {
  background-color: var(--combinations-background);
}