@import './variables.css';

#app{
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 350px 1fr;
    font-family: 'Quicksand', sans-serif;
    padding: 16px;
}

.clickEffect{
	transition: scale 150ms cubic-bezier(.26,.71,.62,1.38);
    cursor: pointer;
}
.clickEffect:hover{
	scale: 1.1;
}
.clickEffect:active{
	scale: 0.9;
}

.divider{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ececec;
}

.sideBar{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 16px;
    .colorPickerContainer{
        position: relative;
        height: 60px;
        flex-shrink: 0;
    }
    .currentColorContainer{
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        background-color: #ffffff;
        color: #000;
        padding-block: 32px;
        h5{
            font-size: 24px;
            font-weight: 500;
            opacity: 0.8;
            text-transform: uppercase;
            min-height: 36px ;
        }
    }
    .navItems{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .bottomSection{
        align-self: end;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        .sliderContainer{
            width: 100%;
            padding: 0 16px;
        }
        .exportContainer{
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            border-radius: 32px 0 0 32px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .topRadius{
                position: absolute;
                top: 0;
                right: 0;
                translate: 0 -100%;
            }
        }
    }
}
.colorDisplay{
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 16px 0;
    overflow: hidden;
}