.contrastContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    .infoNotch{
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        background-color: white;
        width: max-content;
        padding: 12px;
        border-radius: 0 0 16px 16px;
        .leftArc{
            position: absolute;
            left: 0;
            top: 0;
            translate: -97% 0;
        }
        .rightArc{
            position: absolute;
            right: 0;
            top: 0;
            translate: 97% 0;
        }
        .statusDisplay{
            display: flex;
            align-items: center;
            gap: 12px;
            .statusContainer{
                display: flex;
                align-items: center;
                gap: 8px;
                p{
                    font-size: 20px;
                }
                svg{
                    width: 32px;
                    height: 32px;
                    flex-shrink: 0;
                }
            }
        }
    }
    .textContainer{
        font-family: 'Avenir', sans-serif;
        padding: 0 16px;
        .bigText{
            font-size: clamp(24px, 3vw, 48px);
            margin-bottom: 32px;
            font-weight: 500;
            text-align: center;
        }
        .smallText{
            font-size: clamp(14px, 2vw, 24px);
            font-weight: 500;
            text-align: center;
        }
    }
    .whiteText{
        color: white;
    }
}
@media screen and (max-width: 1500px) {
	.contrastContainer{
        border-radius: 16px;
    }
}