@import './variables.css';

:root {
	--dynamic-background: #000;
}

.navItem {
	width: 100%;
	display: flex;
    align-items: center;
	text-decoration: none;
    gap: 12px;
	border-radius: 16px;
    padding: 12px;
	background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
	transition: background-color 300ms, box-shadow 300ms;
    .navIcon {
		width: 32px;
		height: 32px;
		filter: invert(0);
		transition: filter 300ms 0ms;
	}
	.navLabel {
		font-size: 24px;
		transition: color 300ms 0ms;
	}
}
.navItem:hover {
	background-color: #00000025;
}
.navItem.router-link-active {
	background-color: var(--dynamic-background);
	transition: background-color 300ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navItem.router-link-active:hover {
	.navItemContainer {
		background-color: transparent;
	}
}
